@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

html {
    font-family: 'Anton SC';
    background-color: #f02c44;
    font-family: 'Arial', sans-serif;
}

.img-background {
    padding: 3%;
    background-color: #f02c44;
}

.contenedor-titulo {
    font-family: 'Anton SC';
    text-align: center;
    padding-bottom: 2%;
    background-color: #f02c44;
}

.title {
    font-family: 'Anton SC';
    color: #333;
    text-align: center;
    padding: 1% 0;
    font-size: clamp(1em, 3vw, 2em);
}

.subtitle {
    font-family: 'Anton SC';
    color: black;
    padding: 3%;
    font-size: clamp(1.2em, 1.6vw, 2.6em);
}

.title-principal {
    font-family: 'Anton SC';
    color: white;
    font-size: clamp(2em, 5vw, 4em);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.title-perros {
    font-family: 'Anton SC';
    font-size: clamp(1.4em, 5vw, 3em);
}

.box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: black;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.info-list{
    font-family: 'Anton SC';
}

span{
    font-family: 'Anton SC';
}

.img-adoptar {
    width: 60%;
    border-radius: 8px;
    border: 5px solid black;
    margin-top: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-adoptar:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-list {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    font-size: clamp(1em, 1.5vw, 1.2em);
}

.info-list li {
    margin-bottom: 0.5rem;
    font-size: clamp(1.2em, 1.6vw, 2.6em);
}

.columns {
    padding: 2%;
}

.column {
    padding: 1rem;
}

.box{
        transition: all 0.3s ease;
}

.img-adoptar {
    transition: all 0.3s ease;
}

.cont-icon{
    margin: 8%;
}

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav #toggler {
    display: none;
}

nav .navbar-burger {
    font-size: 3rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 2px solid black;
    display: none;
}



.navbar-end {
    margin-left: auto;
    margin-right: 50px;
}

.img-logo {
    width: 90px;
    height: 70px;
    margin-left: 25px;
    margin-top: 6px;
}

.navbar {
    background-color: #F02C44;

}

.navbar-item {
    color: white;
    font-size: 17px;
    background-color: transparent !important;
    border: none;
}

.navbar-item:hover {
    background-color: transparent !important;
    color: black;
}

.navbar-item.is-active {
    background-color: transparent !important;
    color: black;
}



.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}


.payment-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.payment-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-icons img {
    width: auto;
}

.nequi-icon {
    width: 90px;
    height: 90px;
}

#datos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 50px;
}

@media (max-width:768px) {
    nav .navbar-burger {
        display: block;
        cursor: pointer;

    }

    nav .navbar-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F02C44;
        clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
        text-align: right;

    }

    nav #toggler:checked~.navbar-menu {
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);
    }

    nav .navbar-menu a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #F02C44;
    }

    .navbar-burger {
        top: 30px;
        right: 30px;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .payment-icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .payment-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

    }

    #datos {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        justify-content: space-evenly
    }

    .payment-icons img {
        width: auto;
    }
}