body{
    background-color: white;
}
figure{
    width: 80%;
}
.hero {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), 
        url('/Archivo/Proyecto-Raiz/Banco_de_imagenes/donacion.jpg');
    background-position: center;
    background-size: cover;
    height: 95vh;
    border-radius: 0 0 40% 0%; /* Curvatura en la esquina inferior derecha */
    border-bottom: solid 4px black;
    border-right: solid 4px black;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#donaciones{
    font-size: clamp(2rem, 5vw, 8rem);
}
#subtitle{
    font-size: clamp(1.2rem, 2vw, 4rem);
}
#boton1{
    background-color: #fee501;
}
#boton2{
    background-color: #019535;
}
#boton3{
    background-color: #ed1b26;
}
#boton4{
    background-color: #26c1cb;
}
.button:hover{
    scale:1.05 ; 
}
.button{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#info{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5%;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Comienza 20px hacia abajo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Termina en su posición original */
    }
}

/* Aplica la animación a los textos */
.fade-in-up {
    opacity: 0; /* Oculto al inicio */
    animation: fadeInUp 1s ease forwards; /* 1s duración, ease para suavidad, forwards para mantener el final */
}

/* Aplica un retraso en cada elemento si quieres escalonar las animaciones */
.fade-in-up.delay-1 {
    animation-delay: 0.5s;
}

.fade-in-up.delay-2 {
    animation-delay: 1s;
}

.fade-in-up.delay-3 {
    animation-delay: 1.5s;
}






@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav #toggler {
    display: none;
}

nav .navbar-burger {
    font-size: 3rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 2px solid black;
    display: none;
}



.navbar-end {
    margin-left: auto;
    margin-right: 50px;
}

img {
    width: 90px;
    height: 70px;
    margin-left: 25px;
    margin-top: 6px;
}

.navbar {
    background-color: #F02C44;

}

.navbar-item {
    color: white;
    font-size: 17px;
    background-color: transparent !important;
    border: none;
}

.navbar-item:hover {
    background-color: transparent !important;
    color: black;
}

.navbar-item.is-active {
    background-color: transparent !important;
    color: black;
}



.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}


.payment-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.payment-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-icons img {
    width: auto;
}

.nequi-icon {
    width: 90px;
    height: 90px;
}

#datos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 50px;
}

@media (max-width:768px) {
    nav .navbar-burger {
        display: block;
        cursor: pointer;

    }

    nav .navbar-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F02C44;
        clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
        text-align: right;

    }

    nav #toggler:checked~.navbar-menu {
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);
    }

    nav .navbar-menu a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #F02C44;
    }

    .navbar-burger {
        top: 30px;
        right: 30px;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .payment-icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .payment-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

    }

    #datos {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        justify-content: space-evenly
    }

    .payment-icons img {
        width: auto;
    }
}