@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
body, html{
    overflow-x: hidden;
}
/* Estilo para la sección de imagen de fondo */
.image-section {
    animation: backgroundSlideshow 15s infinite;
    background-image: url('/Archivo/Proyecto-Raiz/Banco_de_imagenes/refugio-animal4.jpg'); /* Ruta relativa a la imagen local */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
}
@keyframes backgroundSlideshow {
    0% {
        background-image: url('/Archivo/Proyecto-Raiz/Banco_de_imagenes/refugio-animal4.jpg');
    }
    25% {
        background-image: url('/Archivo/Proyecto-Raiz/Banco_de_imagenes/donaciones.jpg'); /* Segunda imagen */
    }
    50% {
        background-image: url('/Archivo/Proyecto-Raiz/Banco_de_imagenes/istockphoto-471986112-612x612.jpg');
    }
    75% {
        background-image: url('/Archivo/Proyecto-Raiz/Banco_de_imagenes/rejas.jpg');
    }
    100% {
        background-image: url('/Archivo/Proyecto-Raiz/Banco_de_imagenes/refugio-animal4.jpg');
    }
}

/* Superposición oscura para el fondo */
.image-section .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    padding: 20px;
}

/* Contenido de la imagen con márgenes y tamaño máximo */
.image-section .content {
    width: 100%;
    color: white;
}

/* Tamaño responsivo para el texto */
.image-section h1 {
    font-family: 'Anton SC';
    line-height: 1.2;
    letter-spacing: 5px;
    font-size: clamp(2rem, 5vw, 8rem);
    color: #ec4e63;
}

.image-section p {
    font-size: 1.4em;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0.7;
}

#logo{
    width: 8%;
    right: 2%;
}
#nombre{
    font-size: clamp(1.2rem, 2vw, 4rem);
}
/* Tamaño de los botones por defecto */
#boton{
    background: linear-gradient(to bottom, #ec2b42, #f2f2f2b2);
    border: none;
    color: white;
}

/* Efecto hover */
#boton:hover{
    background: linear-gradient(to bottom, #f2f2f2, #ec2b42);
    color: black;
    transform: scale(1.05); /* Aumenta el tamaño del botón */
    
}
/* Definimos la animación */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Comienza 20px hacia abajo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Termina en su posición original */
    }
}

/* Aplica la animación a los textos */
.fade-in-up {
    opacity: 0; /* Oculto al inicio */
    animation: fadeInUp 1s ease forwards; /* 1s duración, ease para suavidad, forwards para mantener el final */
}

/* Aplica un retraso en cada elemento si quieres escalonar las animaciones */
.fade-in-up.delay-1 {
    animation-delay: 0.5s;
}

.fade-in-up.delay-2 {
    animation-delay: 1s;
}

.fade-in-up.delay-3 {
    animation-delay: 1.5s;
}

/* Tamaño más grande en pantallas de desktop */
@media screen and (min-width: 1024px) {
    #boton {
            padding: 2rem 3rem;
        }
    }
    
    @media screen and (max-width: 768px) {
    
        .image-section h1 {
            font-size: clamp(2rem, 7vw, 8rem);
        }
        #logo{
            width: 12%;
            left: 1%;
        }
    }
    
    @media screen and (max-width: 480px) {
    
        .image-section h1 {
            font-size: clamp(2rem, 5vw, 8rem);
            text-align: center;
        }
    
        .image-section p {
            font-size: 1.2em;
            text-align: center;
        }
        .has-text-centered .button{
            margin-bottom: 10px;
        }
        #logo{
            position: relative;
            width: 17%;
            bottom: 5%;
            left: 40%;
    
        }
    }


@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav #toggler {
    display: none;
}

nav .navbar-burger {
    font-size: 3rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 2px solid black;
    display: none;
}



.navbar-end {
    margin-left: auto;
    margin-right: 50px;
}

img {
    width: 90px;
    height: 70px;
    margin-left: 25px;
    margin-top: 6px;
}

.navbar {
    background-color: #F02C44;

}

.navbar-item {
    color: white;
    font-size: 17px;
    background-color: transparent !important;
    border: none;
}

.navbar-item:hover {
    background-color: transparent !important;
    color: black;
}

.navbar-item.is-active {
    background-color: transparent !important;
    color: black;
}



.social-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}


.payment-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.payment-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment-icons img {
    width: auto;
}

.nequi-icon {
    width: 90px;
    height: 90px;
}

#datos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 50px;
}

@media (max-width:768px) {
    nav .navbar-burger {
        display: block;
        cursor: pointer;

    }

    nav .navbar-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F02C44;
        clip-path: polygon(0 0, 100% 0%, 100% 0%, 0 0);
        text-align: right;

    }

    nav #toggler:checked~.navbar-menu {
        clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);
    }

    nav .navbar-menu a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #F02C44;
    }

    .navbar-burger {
        top: 30px;
        right: 30px;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .payment-icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .payment-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

    }

    #datos {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        justify-content: space-evenly
    }

    .payment-icons img {
        width: auto;
    }
}