@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

*{
    font-family: 'Anton SC';
}

html{
    background-color: white;
}

.img-background{
    background-image: url("../img/perros.jpg");
}

.box{
    align-content: center;
    background-color: #f02c44;
    height: 100%;
}

.contenedor-titulo{
    background-color: #f02c44;
    border-bottom: 20px solid black;
}

.columns{
    padding: 2%;
}


.title {
    color:white;
    text-align: center;
    padding: 2%;
    font-size: clamp(1em, 3vw, 5em);
}


.subtitle{
    color: white;
    padding: 3%;
    font-size: clamp(1.2em, 1.6vw, 2.6em);
}

.box {
    transition: all 0.3s ease;
}

.img-adoptar {
    transition: all 0.3s ease;
}

.box {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: black;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.img-adoptar {
    width: 65%;
    height: 80%;
    border-radius: 8px;
    border: 5px solid black;
    margin-top: 0.6rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img-adoptar:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}